# List required packages in this file, one per line.
-e git+https://github.com/pcdshub/pcdsdevices.git@v1.0.0#egg=pcdsdevices
-e git+https://github.com/pcdshub/hutch-python.git@v1.0.0#egg=hutch_python
numpy
ophyd>=1.2.0
bluesky>=1.2.0
scikit-image
scipy
pandas
opencv-python

# Dependencies-of-dependencies that need updating:
pyyaml
cf-units
pyepics
