# List required packages in this file, one per line.
pcdsdevices>=2.6.0
numpy
ophyd>=1.5.0
bluesky>=1.6.0
scikit-image
scipy
pandas
opencv-python
matplotlib
pyyaml
cf-units
git+https://github.com/sommerc/pyqt-stylesheets@master
